@model IEnumerable<StudentProject.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">         
            <div class="col-md-12 input-group">
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" id="FirstName" placeholder="First Name"/>
                    </div>
                </div>
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" id="LastName" placeholder="LastName"/>
                    </div>
                </div>
            </div>            
            <div class="col-sm-12 input-group">                
                    <div class="form-group col-md-6 p-1">
                        <label>Father Name</label>
                        <input class="form-control" id="FatherName" placeholder="Father Name"/>
                    </div>
                    <div class="form-group col-md-6 p-1">
                        <label>Class</label>
                        <input class="form-control" id="Class" placeholder="Class"/>
                    </div>
                
            </div>
            <div class="col-md-12 input-group">
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>City</label>
                        <input class="form-control" id="City" placeholder="City"/>
                    </div>
                </div>
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>Country</label>
                        <input class="form-control" id="Country" placeholder="Country"/>
                    </div>
                </div>
            </div>
            <button id="add" class="btn btn-primary p1">Add Address</button>
            <div>
                <div class="col-md-12 p-1" id="address">                                    
                                                                                      
                </div>
            </div>
           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="bttnSave">Save changes</button>
      </div>
    </div>
  </div>
</div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    
    $(".close").click(function(){
        $("#address").html("");
    });

    $("#bttnSave").click(function(){
        debugger;
        var AddList=JSON.stringify(GetAddresses());
        var detail=JSON.stringify(GetDetail());        
        $.ajax({
            url:"Home/Add",
            method:"Post",
            data:{addressList:AddList,detail:detail},
            success:function(response){
                if(response=="ok")
                {
                    alert("Inserted");
                    location.reload();
                }
                else{
                    alert("Insert failed");
                }
            },
            error:function(error){
                console.log(error);
            }
        });
    });

    var i = 0;
    $("#add").click(function (e) {
        i++;
        e.preventDefault();                
        $("#address").append('<br><input type="text" id="address' + i + '" name="address' + i + '"  class="form-control p-1 address" />');
    });



    function GetAddresses()
    {           
        var DetailList = [];
        var rowsCont = $('#address').children().length;
        var count = 1;
        $('#address').children('.address').each(function (){             
            var ob = {};
            ob.Name = $(this).val();        
            DetailList.push(ob);
            count++;
        });
        return DetailList;
    }

    function GetDetail()
    {
        var obj={};
        obj.FirstName=$("#FirstName").val();
        obj.LastName=$("#LastName").val();
        obj.FatherName=$("#FatherName").val();
        obj.Class=$("#Class").val();
        obj.City=$("#City").val();
        obj.Country=$("#Country").val();
        return obj;
    }

    //function GetAddresses2()
    //{   
    //    debugger;
    //    var DetailList = [];
    //    var rowsCont = $('#address').children().length;
    //    var count = 1;
    //    $('#address').each(function ()
    //    {   debugger;         
    //        var obj = {};
    //        obj.DetailId = $(this).find('.address').val();        
    //        DetailList.push(obj);
    //        count++;
    //    });
    //    return DetailList;
    //}


</script>