@model StudentProject.Models.Student


@{
    Layout = null;
    var i = 1000;
}

<form Id="UpdateForm" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
<div class="col-md-12 input-group">
                <div class="col-md-6 p-1">
                    <input asp-for="Id" hidden/>
                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" asp-for="FirstName" id="FirstName" placeholder="First Name"/>
                    </div>
                </div>
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" asp-for="LastName" id="LastName" placeholder="LastName"/>
                    </div>
                </div>
            </div>            
            <div class="col-sm-12 input-group">                
                    <div class="form-group col-md-6 p-1">
                        <label>Father Name</label>
                        <input class="form-control" asp-for="FatherName" id="FatherName" placeholder="Father Name"/>
                    </div>
                    <div class="form-group col-md-6 p-1">
                        <label>Class</label>
                        <input class="form-control" asp-for="Class" id="Class" placeholder="Class"/>
                    </div>
                
            </div>
            <div class="col-md-12 input-group">
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>City</label>
                        <input class="form-control" asp-for="City" id="City" placeholder="City"/>
                    </div>
                </div>
                <div class="col-md-6 p-1">
                    <div class="form-group">
                        <label>Country</label>
                        <input class="form-control" asp-for="Country" id="Country" placeholder="Country"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-1" id="address"> 
               @if (Model.addresses.Count() > 0)
              {        
                  foreach (var item in Model.addresses)
                  {
            i++;
            <div class="input-group p-1 rowDiv rowRemove"><input type="text" style="width:90%" id="@item.Id" name="address" value="@item.Name"  class="form-control p-1 address" /><button type="button" class="btn btn-danger btn_remove2" id="@i" name="remove">X</button></div>
                  }                                                                  
              }
            </div>
            <button id="add" class="btn btn-primary p1">Add Address</button>
            </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>        
        <button type="submit" class="btn btn-primary" id="btnUpdate">Save</button>
    </div>
</form>

            <script>
                $("#UpdateForm").submit(function (e) {
            e.preventDefault();
            debugger
            console.log('Doing ajax submit');            
            var fdata = new FormData(this);
            var addresses=JSON.stringify(GetAddresses());
            fdata.append("addresses2",addresses);
            debugger;
            $.ajax({
                type: 'post',
                url: "Student2/Edit",
                data: fdata,
                processData: false,
                contentType: false,
                success:function(response){
                    debugger;
                    if(response=="ok")
                    {                                            
                        $('#ajaxresult').load('@Url.Action("_StudentsList")');
                        $('#exampleModal').modal('hide');
                        alert("Updated");
                    }
                    else{
                        alert("Insert failed");
                    }
                },
                error:function(error)
                {
                    alert(error);
                }

            })
        });



            var i = 0;
    $("#add").click(function (e) {
        i++;
        e.preventDefault();                
        $("#address").append('<div class="input-group p-1 row'+i+' rowDiv"><input type="text" style="width:90%" id="0" name="address' + i + '"  class="form-control p-1 address" /><button type="button" class="btn btn-danger btn_remove" id="' + i + '" name="remove">X</button></div>');
    });

    //Remove input field
    $(document).on('click', '.btn_remove', function () {
        var button_id = $(this).attr("id");
        $(".row" + button_id).each(function () {
            $(this).remove();
        });
    });

    $(document).on('click', '.btn_remove2', function () {
        debugger;
        $(this).parent('.rowRemove').each(function(){
                $(this).remove();
        });        
    });

    function GetAddresses()
    {  
        debugger;
        var DetailList = [];
        var rowsCont = $('#address').children().length;
        var count = 1;
        $('#address').find('.rowDiv .address').each(function (){             
            var ob = {};
            ob.Name = $(this).val();
            ob.Id= $(this).attr("Id");
            ob.StudentId=$("#Id").val();
            DetailList.push(ob);
            count++;
        });
        debugger;
        return DetailList;
    }

    function GetDetail()
    {
        debugger;
        var obj={};
        obj.Id=$("#Id").val();
        obj.FirstName=$("#FirstName").val();
        obj.LastName=$("#LastName").val();
        obj.FatherName=$("#FatherName").val();
        obj.Class=$("#Class").val();
        obj.City=$("#City").val();
        obj.Country=$("#Country").val();
        return obj;
    }    

    //$("#btnUpdate").click(function(){
    //    debugger;
    //    var AddList=JSON.stringify(GetAddresses());
    //    var detail=JSON.stringify(GetDetail());  
    //    console.log(AddList);
    //    console.log(detail);
    //    debugger;
    //    $.ajax({
    //        url:"@Url.Action("Edit")",
    //        method:"Post",
    //        data:{addressList:AddList,detail:detail},
    //        success:function(response){
    //            if(response=="ok")
    //            {
    //                alert("Updated");                    
    //                $('#ajaxresult').load('@Url.Action("_StudentsList")');
    //                $(".modal").hide();
    //                $('.modal-backdrop').remove();
    //            }
    //            else{
    //                alert("Insert failed");
    //            }
    //        },
    //        error:function(error){
    //            console.log(error);
    //        }
    //    });
    //});

    

            </script>
           